 /*header + hero background color: #1F2937  */
/* hero main text: 48px extra-bold #F9FAF8 */
/* hero secondary text, header link text: 18px #E5E7EB */
/* header logo text: #F9FAF* */
/* button color, call to action background color: #3882F6 */
/* information header text: 36px extra-bold #1F2937 */
/* quote section background color: #E5E7EB */
/* quote text: 36px light italic #1F2937 */

* {
    font-family: 'Roboto', sans-serif;  
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    display: flex;
    align-items: center;
    color: #F9FaF8;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1F2937;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 24px;
    
    flex: 1 1 auto;
    
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    color: #E5e7eb;
    font-size: 18px;
    gap: 20px;
}

.hero {
    display: flex;
    gap: 40px;
    
}

.hero {
    background-color: #1F2937;
    padding: 8% 15% 8% 15%;
    height: 45em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.hero-text .aww {
    flx: 1;
}

.hero-text .pew {
    fex: 1;
    font-size: 18px;
    color: #E5e7eb;
    margin: 4% 0 4% 0;
}

.hero-text button {
    background-color: #3882f6;
    border: 0;
    padding: 3% 10% 3% 10%;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #F9FaF8;
}

.hero .aww {
    font-size: 48px;
    font-weight: 900;
    color: #E5e7eb;
    flx: 1;
}

.img {
    background-color: rgb(163, 163, 163);
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FaF8;
    font-size: 18px;
    
    border-radius: 25px;
}

.img p {
    
}

.info {
    margin: 0 20% 0 20%;
    padding-bottom: 5%;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 2% 0 2% 0;
}

.four {
    display: flex;
    justify-content: space-around;

}

.info li {
    font-size: 18px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p {
text-align: center;
margin-top: 6%;
color: grey;
}

.box {
    width: 160px;
    height: 160px;
    text-align: center;
    margin: 0;
    border: solid;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 15px;
}

.quote {
    background-color: #e5e7eb;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.quote p {
    text-align: center;
    margin: 0 25% 0 25%;
    font-size: 36px;
    padding-top: 60px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.name {
    margin: 0 25% 0 25%;
    color: #1F2937;
    font-weight: 700;
    text-align: end;
    font-size: 32px;
    
}

.call {
   padding: 5%; 
}

.call-box {
    margin: 0 22% 0 22%;
    padding: 38px 70px 38px 70px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
}

h3 {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.call button {
    padding: 6px 25px 6px 25px;
    background-color: #3882f6;
    border: solid;
    border-color: #E5e7eb;
    border-radius: 10px;
    font-size: 14px;
    color: #E5e7eb;
    text-align: center;
    align-items: center;
}

.call-text {
    color: #E5e7eb;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

